body 
{
    background-color: black;
    margin: 0 auto;
}

#navbar 
{
    background-color: purple;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;;

}
#logo-container 
{
    width: 300px;
    float:left;
    display: flex;
    justify-content: flex-start;
    

}
#logo-container img 
{
    height: 60px;

}
#logo-container h2
{
    display:inline-block;
    color: white;

}
#menu-container a{
    color:white;
    padding: 15px;
    
    
}


#main-container 
{
    background-color: white;
    height: 200px;
    margin:15px;
    padding: 15px;
    display:flex;
    justify-content: space-between;

    }
    .box{
        background-color: lightgreen;
        width: 300px;
        float:left;
        height: 175px;
        padding: 15px;
    }
#secondary-container 
{
    background-color: brown;
    height: 250px;
    margin: 0 15px 15px 15px;
    padding: 15px;

}
#inner-container 
{
    background-color: aliceblue;
    border: 2px solid green;
    height: 100%;

}
